{% extends 'base.html' %}

{% block head %}
<title>USD/CAD and Financial News</title>

{% endblock %}

{% block body %} 
<div class="content">
    <h1 style="text-align: center">Exchange Rate Viewer</h1>
    {% if rates|length < 1 %}
    <h4 style="text-align: center">No exchange rates available.</h4>
    {% else %}


    <table>
        <tr>
            <th>Currency Pair</th>
            <th>Rate</th>
            <th>Date</th>
        </tr>
        {% for rate in rates %}
            <tr>
                <td>{{ rate.currency_pair }}</td>
                <td>{{ rate.rate }}</td>
                <td>{{ rate.date_fetched.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}
